{% extends 'Navbar.html' %}

{% block content %}

<body>
    <div class="container">
        <h3>Add Manpower</h3>
        <form method="post">
            {% csrf_token %}
            <div class="input-field">
                <input id="site_name" name="site_name" type="text" class="validate" value="{{ siteInfo.name }}" >
                <label for="site_name">Site Name</label>
            </div>

            <div class="input-field">
                <input id="name" name="emp_name" type="text" class="validate">
                <label for="name">Name</label>
            </div>
            <div class="input-field">
                <input id="aadhar_no" name="aadhar_no" type="text" class="validate">
                <label for="aadhar_no">Aadhar No</label>
            </div>
            <div class="input-field">
                <input id="contact" name="contact" type="text" class="validate">
                <label for="contact">Contact</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Add Manpower</button>
            <a href="{% url 'ManageSites' siteInfo.id %}" class="btn waves-effect waves-light">Cancel</a>
        </form>
    </div>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- <script>
        document.getElementById('add_manpower_form').addEventListener('submit', function(event) {
            // Prevent default form submission
            event.preventDefault();
            // Add manpower logic here (e.g., save to database)
            // Redirect to the manage sites page after adding manpower
            window.location.href = '../';
        });
    </script> -->
</body>

{% endblock %}
