{% extends 'Navbar.html' %}

{% block content %}

<body>
    <div class="container">
        <h3>{{ siteInfo.name }}</h3>
        <!-- Buttons to add manpower, expenses, and tools -->
        <div class="row">
            <div class="col s4">
                <a href="{% url 'AddManpower' siteInfo.id %}" class="btn waves-effect waves-light">Add Manpower</a>
            </div>
            <div class="col s4">
                <a href="{% url 'AddExpenses' siteInfo.id %}" class="btn waves-effect waves-light">Add Expenses</a>
            </div>
            <div class="col s4">
                <a href="{% url 'AddTools' siteInfo.id %}" class="btn waves-effect waves-light">Add Tools</a>
            </div>
        </div>
        <!-- Table to display details for manpower -->
        <h4>Manpower</h4>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Emp ID</th>
                    <th>Name</th>
                    <th>Aadhar No</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add rows for manpower details -->
                {% for labour in manpowers %}
                {% if siteInfo == labour.site %}
                
                <tr>
                    <td> {{ labour.id }} </td>
                    <td> <a href="{% url 'LabourDetails' labour.id %}" > {{ labour.name }} </a></td>
                    <td> {{ labour.adhaarno }} </td>
                    <td> {{ labour.contact }} </td>
                    <td>
                        <a href="#" class="btn-small waves-effect waves-light">Edit</a>
                        <a href="{% url 'delete_dataManage' 'manpower' labour.id siteInfo.id %}" class="btn-small waves-effect waves-light">Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <!-- Table to display details for expenses -->
        <h4>Expenses</h4>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Expense Type</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add rows for expense details -->
                {% for exp in expenses %}
                {% if siteInfo == exp.site %}
                <tr>
                    <td> {{ exp.date }} </td>
                    <td> {{ exp.description }} </td>
                    <td> {{ exp.amount }} </td>
                    <td>
                        <a href="#" class="btn-small waves-effect waves-light">Edit</a>
                        <a href="{% url 'delete_dataManage' 'expense' exp.id siteInfo.id %}" class="btn-small waves-effect waves-light">Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <!-- Table to display details for tools -->
        <h4>Tools</h4>
        <table class="highlight">
            <thead>
                <tr>
                    
                    <th>Tool Name</th>
                    <th>Quantity</th>
                    <th>Tool Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Add rows for tool details -->
                {% for tool in Tools %}
                {% if siteInfo == tool.site %}
                <tr>
                    <td> {{ tool.name }} </td>
                    <td> {{ tool.quantity }} </td>
                    <td> {{ tool.amount }} </td>
                    <td>
                        <a href="#" class="btn-small waves-effect waves-light">Edit</a>
                        <a href="{% url 'delete_dataManage' 'tool' tool.id siteInfo.id %}" class="btn-small waves-effect waves-light">Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

{% endblock %}


