<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SiteManager{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            padding-top: 2px; /* Adjust body padding to accommodate fixed navbar */
        }
        main {
            padding: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">SiteManager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'sites' %}">Home</a></li>
                <!-- <li><a href=""></a></li> -->
                <!-- <li><a href="#">Manage Sites</a></li>
                <li><a href="#">Add Manpower</a></li>
                <li><a href="#">Add Expenses</a></li>
                <li><a href="#">Add Tools</a></li> -->
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>
</html>
