{% extends 'Navbar.html' %}

{% block content %}

<body>
    <div class="container">
        <h3>Site Manager</h3>
        <!-- Add Site Button -->
        <a href="addSites/" class="btn waves-effect waves-light">Add Site</a>

        <!-- Table to display all added sites -->
        <table class="highlight">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Quotation Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
             
                <!-- Add more rows for additional sites -->
                {% for site in sites %}
                <tr>
                    <td><a href="{% url 'ManageSites' site.id %}"> {{ site.name }} </a></td>
                    <td> {{ site.address }} </td>
                    <td> {{ site.quotation_amount }} </td>
                    <td>
                        <a href="{% url 'editSites' site.id %}" class="btn-small waves-effect waves-light">Edit</a>
                        <a href="{% url 'delete_site' site.id %}" class="btn-small waves-effect waves-light">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
{% endblock %}
